.Test-enter {
    opacity: 0.01;
}

.Test-enter-active {
    opacity: 1;
    transition: all .2s ease-in;
}

.Test-exit {
    opacity: 1;
}

.Test-exit-active {
    opacity: 0.01;
    transition: all .2s ease-in;
}